#container{
 height: 25vw;
 width: 100%;
 overflow: hidden;
 z-index: 0;
 position: absolute;
}

#hero{
 position: relative;
 height: 25vw;
 width: 100%;
 overflow: hidden;
 /* filter: blur(4px); */
 filter: brightness(60%)  blur(4px);;
 background: url("https://wallpaperaccess.com/full/1432909.jpg") no-repeat center;
 z-index: 1;
}

#heroText{
 position: relative;

 z-index: 2;
 width: 100%;
 height: 400px;
}

#heroText>p{
 position: relative;
 font-size: 4vw;
 text-align: center;
 z-index: 2;
}

.center{
 position: relative;
 z-index: 2;
 height: 25vw;
 line-height: 25vw;
 color: white;
}
