<div class="container is-fluid">
  <div id="listContainer">
   <section class="listSection">
    <p class="title is-5">General Clean</p>
    <ul>
      <li>Dust/wipe all furniture, shelves, and décor</li>
      <li>Dust blinds & window sills</li>
      <li>Dust lamps, light fixtures, and ceiling fans within reach</li>
      <li>Dust air vents, cabinet ledges, and baseboards within reach</li>
      <li>
        Wipe down glass surfaces - whether it is a mirror or glass table we've
        got you covered! Add on windows for an additional fee.
      </li>
      <li>Wipe exterior of major kitchen appliances</li>
      <li>Clean all countertops & backsplash</li>
      <li>Spot clean cabinets</li>
      <li>Sweep, vacuum, and mop all floors and stairs</li>
      <li>Clean all cobwebs</li>
      <li>Quick tidy up of all rooms</li>
      <li>Make beds (one sheet change included in price)</li>
      <li>Empty trash and replace liners</li>
      <li>Clean toilets inside & out</li>
      <li>Clean all bathtubs, showers, sinks, and faucets</li>
      <li>Clean grout & tile in showers</li>
    </ul>
  </section>

  <section class="listSection">
    <p class="title is-5">Deep Clean</p>
    <ul>
      <p class="title is-6">Includes all of the above PLUS:</p>
      <li>Wipe down all baseboards, trim, and molding</li>
      <li>
        Wipe down all cabinets and drawers, doors, ceiling fans, light switches
        & fixtures
      </li>
      <li>Wipe down blinds and window sills</li>
      <li>Wipe down fronts of furniture</li>
      <li>Wipe down all objects/décor</li>
      <li>High dusting</li>
      <li>Vacuum in all corners and edges</li>
    </ul>
  </section>
  <section class="listSection">
    <p class="title is-5">Move in/out (must be vacant) Clean</p>
    <p class="title is-6">Includes all of the above PLUS:</p>
    <ul>
      <li>Inside cabinets and drawers</li>
      <li>Inside oven & fridge add on options</li>
    </ul>
  </section>
  </div>
</div>
