<div id="servicesContainer" class="container is-fluid">
  <div id="listContainer">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <img
            src="http://naturalconceptscleaning.com/uploads/1/4/2/0/142058783/deep-clean-pic-2_orig.jpg"
            alt=""
          />
          <p class="title is-4">General Clean</p>
          <p class="subtext">
            Save some time for yourself and let us maintain your home or office
            for you! One time, weekly, biweekly, and monthly options.
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <img
            src="http://naturalconceptscleaning.com/uploads/1/4/2/0/142058783/move-out-clean-pic_orig.jpg"
            alt=""
          />
          <p class="title is-4">Deep Clean</p>
          <p class="subtext">
            We will provide a deeper, thorough level of care to your home and
            get in all of those hard to reach areas!
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <img
            src="http://naturalconceptscleaning.com/uploads/1/4/2/0/142058783/published/general-clean-pic-2.jpg?1654113143"
            alt=""
          />
          <p class="title is-4">Move in/out Clean</p>
          <p class="subtext">
            Moving is stressful! That is why we have specific general clean and
            deep clean options available just for move in and move outs. Plus,
            inside fridge and oven add ons!
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
