<div class="container">
 <div class="columns is-justify-content-center">
   <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
     <form method="POST" action="https://getform.io/f/a8a57f71-ff36-41b1-9e9d-a63c5210d8fd" class="box p-5">
       <label class="is-block mb-4">
         <span class="is-block mb-2">Your name</span>
         <input
           name="name"
           type="text"
           class="input"
           placeholder="John Doe"
         />
       </label>

       <label class="is-block mb-4">
         <span class="is-block mb-2">Your email address</span>
         <input
           required
           name="email"
           type="email"
           class="input"
           placeholder="johndoe@example.com"
         />
       </label>

       <label class="is-block mb-4">
         <span class="is-block mb-2">Message</span>
         <textarea
           name="message"
           class="textarea"
           rows="3"
           placeholder="Let us know what services you are interested in..."
         ></textarea>
       </label>

       <div class="mb-4">
         <button type="submit" class="button is-link px-4">Contact Us</button>
       </div>

       <div>
       </div>
     </form>
   </div>
 </div>
</div>
